<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>Progetto_Settimana_7_BackEnd</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AllContattiServlet</display-name>
    <servlet-name>AllContattiServlet</servlet-name>
    <servlet-class>presentation.AllContattiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllContattiServlet</servlet-name>
    <url-pattern>/AllContattiServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddContattoServlet</display-name>
    <servlet-name>AddContattoServlet</servlet-name>
    <servlet-class>presentation.AddContattoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddContattoServlet</servlet-name>
    <url-pattern>/AddContattoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContattoBySurnameServlet</display-name>
    <servlet-name>ContattoBySurnameServlet</servlet-name>
    <servlet-class>presentation.ContattoBySurnameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContattoBySurnameServlet</servlet-name>
    <url-pattern>/ContattoBySurnameServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContattoByNumServlet</display-name>
    <servlet-name>ContattoByNumServlet</servlet-name>
    <servlet-class>presentation.ContattoByNumServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContattoByNumServlet</servlet-name>
    <url-pattern>/ContattoByNumServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModificaNumServlet</display-name>
    <servlet-name>ModificaNumServlet</servlet-name>
    <servlet-class>presentation.ModificaNumServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModificaNumServlet</servlet-name>
    <url-pattern>/ModificaNumServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EliminaContattoServlet</display-name>
    <servlet-name>EliminaContattoServlet</servlet-name>
    <servlet-class>presentation.EliminaContattoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EliminaContattoServlet</servlet-name>
    <url-pattern>/EliminaContattoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModificaContattoServlet</display-name>
    <servlet-name>ModificaContattoServlet</servlet-name>
    <servlet-class>presentation.ModificaContattoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModificaContattoServlet</servlet-name>
    <url-pattern>/ModificaContattoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>eliminaNumeroServlet</display-name>
    <servlet-name>eliminaNumeroServlet</servlet-name>
    <servlet-class>presentation.eliminaNumeroServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>eliminaNumeroServlet</servlet-name>
    <url-pattern>/eliminaNumeroServlet</url-pattern>
  </servlet-mapping>
</web-app>